/* All common css start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

ul,
ol {
    list-style-type: none;
}

a{
    text-decoration: none;
}
a:hover {
    display: inline-block;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
/* All common css end */

/* Header Section Start */



.navbar img{
    width: 80px;
}

.navbar {
    background: #fff;
}

.nav-link{
    font-size: 14px;
    font-weight: 500px;
    text-transform: uppercase;
    color: #222222;
    position: relative;
    padding: 0 !important;
    margin: 15px;
}

.menuIcon, i{
    color: #222222;
}


.menuIcon{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.nav-link::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    left: 0;
    bottom: 0;
    visibility: none;
    opacity: 0;
    transition: 0.4s;
    
}

.nav-link:hover.nav-link::after{
    visibility: visible;
    opacity: 1;
    width: 26px;
}
/* Header Section End */

/* Banner Part Start */
#bannerSection{
    
}
/* Banner Part End */


Banner Part End */

/* Add Section Start */
#addSection{
    padding-top:100px;
    padding-bottom: 95px;
    background: #fff;

}
/* Add Section End */
/* Product Section Satart */
#ProductSection{
    background-color: #f6faff;
    padding: 100px 0;

}
.textTittle h3{
    font-size: 35px;
    font-weight: 400;
    color: #222222;
}
.textBtn button{
    border: none;
    background: transparent;
    margin: 15px;
    transition: .4s;

}
.textBtn button:hover{
    border-bottom: 2px solid;
    font-weight: 700;
}
.catagory{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    color: #767676;
}
.catagory h4{
    font-size: 14px;
    
}
.catagory i{
    color: #767676;
}
.productText h3 {
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    padding: 10px 0;
}
.productText h5{
    font-size: 16px;
    font-weight: 400;
    color: #212529;
}
.seeAllP a{
    font-size: 14px;
    font-weight: 500;
    color: #212529;
    border-bottom: 2px solid black;
    text-transform: uppercase;
}

.productText del{
    font-size: 16px;
    font-weight: 400;
    color: #ff150c;
}

/* Product Section End */
/*CounterDown Section Start*/
#counterDown{
    padding-top: 360px;
    padding-bottom: 45px;
    background: url(../images/counterDown\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.shopBtn a{
    font-size: 14px;
    font-weight: 500;
    color: #212529;
    text-transform: uppercase;
    position: relative;
}
.shopBtn a::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background-color: black;
    left: 0;
    bottom: 0;
    
    
}
.countDown h3{
    font-size: 30px;
    font-weight: 400;
    color: #000;
    padding: 20px;
    position: relative;
}
.countDown h4{
    font-size: 16px;
    font-weight: 700;
    color: #767676;
}

.countDown {
    position: relative;
    
}
.fota {
    font-size: 30px;
    position: absolute;
    contain: "";
    right: 0;
    top: 10px;
}

/*CounterDown Section End*/
/* Limited Product Part Start */

#limitedProduct{
    margin-top: 105px;
    margin-bottom: 95px;
}
.eiditionTittle h3{
    font-size: 35px;
    font-weight: 400;
    color: #212529;
    margin-bottom: 40px;
    margin-top: 100px;
}
.editionContent{
    display: flex;
    justify-content: space-between;
}

.editionCard h3{
    font-size: 16px;
    font-weight: 400;
    color: #222;
    padding: 10px 0
}
.editionCard h4{
    font-size: 14px;
    font-weight: 400;
    color: #222;
}
.editionCard i{
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}
/* Limited Product Part End */

.prev{
    font-size: 30px;
    color: pink;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    z-index: 9;
    
}
.next{
    font-size: 30px;
    color: pink;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    z-index: 9;
    
}

/* @UOMO Part Start */
 #uomoPart{
    padding-top: 105px;
    padding-bottom: 100px;
 }
 .uomoTittle h3{
    font-size: 35px;
    font-weight: 400;
    color: #222;
 }

 .serviceContent{
    margin-top: 105px;
 }

.serviceContent h3{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    padding: 15px 0;
}
.serviceContent h5{
    font-size: 15px;
    font-weight: 400;
    color: #767676;
}
/* @UOMO Part End */

/* Footer Part Start */
#FooterPart{
    background-color: #CFCDCD;
    padding-bottom: 30px;
    padding-top: 100px;
}
.footerIcon h6{
    font-size: 14px;
    font-weight: 400;
    color: #222;
    padding-top: 50px;
    padding-bottom: 30px;
    line-height: 24px;
}
.footerIcon h5{
    font-size: 14px;
    font-weight: 500;
    color: #222;
   
}
.footerIcon h4{
    font-size: 14px;
    font-weight: 500;
    color: #222;
     padding-top: 10px;
    padding-bottom: 50px;
}
.iconFlex{
    display: flex;
    justify-content:start;
    margin-bottom: 130px;
    align-items: center;
    column-gap: 40px;
}
.companyDiv h3{
    font-size: 18px;
    font-weight: 500;
    color: #212529;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.companyDiv h6{
    font-size: 14px;
    font-weight: 400;
    color: #222;
    padding-bottom: 30px;
}
.paymentDiv input{
    padding: 20px 25px;
    background: #fff;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    
}
.paymentDiv button{
    border: none;
    background: #fff;
    padding: 20px 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}  
.paymentDiv h3{
    font-size: 18px;
    font-weight: 500;
    color: #212529;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.paymentDiv h4{
     font-size: 14px;
    font-weight: 500;
    color: #222; 
    padding: 20px;
}
.paymentDiv h6{
    font-size: 14px;
    font-weight: 400;
    color: #222; 
}
.paymentDiv button{
    border: none;
    background: #fff;
}
/* Footer Part End */